{% extends "base.html" %}

{% block content %}
    {% for value in data %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <h2><a class="article-title" href="#">{{ value.title }}</a></h2>
                    <a class="mr-2" href="#"> By {{ value.author }}</a>
                    <small class="text-muted">on {{ value.updated }}</small>
                </div>
                <p class="article-content">{{ value.text }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock %}
