{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}
  <div class="container">
    <h3>Please sign in</h3>
    <form class="form-signin" action="" method="post">
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=20) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password }}
        </p>
        <p><a href="#">Forget your password?</a></p>
        <div class="checkbox mb-3">
            <label for="remember-me">
              <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <p>{{ form.submit() }}</p>
    </form>
      <p>New user? <a href="{{ url_for('register')}}">Sign up for a free account</a></p>
  </div>
{% endblock %}